body{
  background-color: rgb(185,179,175);
  font-family:fantasy ;
}
.header{
}
.person_image{
  width: 100px;
  height: auto;
}
.person_info{

}
#nameSound23{

}
.sound{

}
.username{

}

/*The button banner
.nav{

}

//Home page
h1{

}

.day-box PREP{

}
.day{

}
.day-box CURRENT{

}
.notes{

}
.reading-box{

}
.day-box COMPLETED{

}


//Assignment
.assignment_form{

}
.assignment_title
{

}
.assigment_prompt{

}
.input_text{

}
//box behind the grading
.rubric_score{

}
textarea{

}
input{

}
td.person_info{

}
svg.image{

}
*/
