@import url('https://fonts.googleapis.com/css?family=Bangers');

div.header {

}
div.title  {
    font-family: 'Bangers', cursive;
  text-align: center;
}
h1 {
  font-family: 'Bangers', cursive;
  text-align: center;
}
body{
  background-color: rgb(185,179,175);
  /*background-image: url("http://mediad.publicbroadcasting.net/p/wxxifm/files/styles/x_large/public/201809/outerspace_0.jpg");*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*overflow-x: scroll;
  overflow-y: hidden;*/
}
.person_image{
  width: 100px;
  height: auto;
}
div.header > div.person_info{
  background-image: url('batmanWallPaper.jpg');
  background-repeat: repeat-x;
  background-size: auto 100%;
}
.username{
  background-color: black;
  color:yellow;
  width:100px;
  height: auto;
}
.nav{
  background-color: black;
  color:yellow;
}
.partners{
  position:absolute;
  top:0;
  right:0;
}
div.partners > div.person_image{
  float: right;
}
.day-box{
  border-style: solid;
  border-width: 5px;
  float:left;
  width: 25%;
  height:350px;
  overflow: auto;
  margin: 10px;
  padding: 10px;
  box-shadow: 10px 10px 5px grey;
  background-image: url('batmanWallPaper.jpg');
  background-repeat: repeat-x;
  background-size: auto 100%;
}
.day-box:hover{
  background-image: url('pow.jpg');
  background-size: 100% 100%;
}
.nav{
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}
.nav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
.day{
  border-style: double;
  border-width: 0px 0px 6px 0px;
  margin: 5px;
  float:right;
}
.reading-box{
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  margin: 5px;
  background-color: rgb(185,179,175);
  opacity: 0.6;
  filter:alpha(opacity=60);
}
.prep-box{
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  margin: 5px;
}
/*.assignment_link{
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  margin: 5px;
}*/
.lab-box{
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  margin: 5px;
}
