body{
  background-color: rgb(185,179,175);
  font-family:fantasy ;
  /*background-image: url("http://mediad.publicbroadcasting.net/p/wxxifm/files/styles/x_large/public/201809/outerspace_0.jpg");*/
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.person_image{
  width: 100px;
  height: auto;
}
.person_info{
    border-style: solid;
    border-width: 5px;
}/*
.day-box COMPLETED{
  border-style: solid;
  border-width: 5px;
  float:left;
}
.day-box CURRENT{
  border-style: solid;
  border-width: 5px;
  float:left;
}
.day-box PREP{
  border-style: solid;
    border-width: 5px;
    float:left;
}*/
.day-box{
  border-style: solid;
  border-width: 5px;
  float:left;
  width: 30%;
  height:500px;
  overflow: scroll;
  margin: 5px;
}
