body{
  background-color: rgb(185,179,175);
  font-family:fantasy ;
  /*background-image: url("http://mediad.publicbroadcasting.net/p/wxxifm/files/styles/x_large/public/201809/outerspace_0.jpg");*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*overflow-x: scroll;
  overflow-y: hidden;*/
}
.person_image{
  width: 100px;
  height: auto;
}
.person_info{
    /*border-style: solid;
    border-width: 5px;*/
}

.day-box{
  border-style: solid;
  border-width: 5px;
  float:left;
  width: 30%;
  height:350px;
  overflow: auto;
  margin: 5px;
  padding: 10px;
}
.nav{
float:right;
}
.day{
  border-style: dotted;
}
.reading-box{
  border-style: dashed;
}
.prep-box{
  border-style: double;
}
.lab-box{
  border-style: inside;
}
